

<!--lecturer's daly booking-->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Lecturer's daily bookings</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link href="assets/img/favicon.png" rel="icon">
    <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,600;1,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

    <!-- Template Main CSS File -->
    <link href="assets/css/main.css" rel="stylesheet">

    <!-- =======================================================
    * Template Name: Impact - v1.2.0
    * Template URL: https://bootstrapmade.com/impact-bootstrap-business-website-template/
    * Author: BootstrapMade.com
    * License: https://bootstrapmade.com/license/
    ======================================================== -->
</head>

<body>

<!-- ======= Header ======= -->


<header id="header" class="header d-flex align-items-center">

    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">
        <a href="lecturerwelcomepage" class="logo d-flex align-items-center">
            <!-- Uncomment the line below if you also wish to use an image logo -->
            <!-- <img src="assets/img/logo.png" alt=""> -->
            <h1>Smart<span>.Lab</span></h1>
        </a>
        <nav id="navbar" class="navbar">
            <ul>
                <li><a href="lecturerwelcomepage">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a th:href="@{/lecturer}"  class="btn-get-started">Classrooms</a></li>
                <li><a th:href="@{/lecturerbookingsperday}" class="btn-get-started">bookings</a></li>
                <li><a th:href="@{/mybookings}" class="btn-get-started">History</a></li>

                <li><a href="#contact">Contact</a></li>
            </ul>
        </nav><!-- .navbar -->

        <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
        <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>

    </div>
</header><!-- End Header -->
<!-- End Header -->
<!-- ======= Hero Section ======= -->

<div  class="container">

    <h1 style="text-align: center; margin-top: 30px">Daily Bookings</h1>

    <table  class="content-table">
        <thead>

        <tr>

            <th>Room Number</th>
            <th>Building Name</th>
            <th>Booking Date</th>
            <th>Start Time</th>
            <th>End Time</th>
            <th>Total Capacity</th>
            <th>Description</th>

        </tr>

        </thead>

        <tbody>

        <tr th:each= "lecturerbookingsdaily: ${lecturerbookingsperday}" >
            <td th:text="${lecturerbookingsdaily.classroom.getRoomNum()}"></td>
            <td th:text="${lecturerbookingsdaily.classroom.getBuildingName()}"></td>
            <td th:text = "${lecturerbookingsdaily.bookingDate}"></td>
            <td th:text="${lecturerbookingsdaily.starTime}"></td>
            <td th:text="${lecturerbookingsdaily.endTime}"></td>
            <td th:text="${lecturerbookingsdaily.classroom.getTotalCapacity()}"></td>
            <td th:text="${lecturerbookingsdaily.classroom.getDescription()}"></td>



        </tr>

        </tbody>

    </table>

</div>
<!-- End Hero Section -->



<!-- ======= Footer ======= -->
<footer id="footer" class="footer">

    <div class="container">
        <div class="row gy-4">
            <div class="col-lg-5 col-md-12 footer-info">
                <a href="index.html" class="logo d-flex align-items-center">
                    <span>SmartLab</span>
                </a>
                <div class="social-links d-flex mt-4">
                    <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                    <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                    <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                    <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                </div>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Useful Links</h4>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About us</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Terms of service</a></li>
                    <li><a href="#">Privacy policy</a></li>
                </ul>
            </div>

            <div class="col-lg-2 col-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                    <li><a href="#">Web Design</a></li>
                    <li><a href="#">Web Development</a></li>
                    <li><a href="#">Product Management</a></li>
                    <li><a href="#">Marketing</a></li>
                    <li><a href="#">Graphic Design</a></li>
                </ul>
            </div>

            <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                <h4>Contact Us</h4>
                <p>

                    <strong>Phone:</strong> +2786 110 2421<br>
                    <strong>Email:</strong> general@tut.ac.za<br>
                </p>

            </div>

        </div>
    </div>

    <div class="container mt-4">
        <div class="copyright">
            &copy; Copyright <strong><span>SmartLab</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/impact-bootstrap-business-website-template/ -->

        </div>
    </div>

</footer><!-- End Footer -->
<!-- End Footer -->

<a href="#" class="scroll-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

<div id="preloader"></div>

<!-- Vendor JS Files -->
<script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="assets/vendor/aos/aos.js"></script>
<script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="assets/vendor/php-email-form/validate.js"></script>

<!-- Template Main JS File -->
<script src="assets/js/main.js"></script>


<script src="//cdnjs.cloudflare.com/ajax/libs/annyang/2.6.0/annyang.min.js"></script>


<script>
    if (annyang) {
        console.log("we have annyang");
        var commands = {
            'show available classrooms': classrooms,
            'show my bookings' : mybookings,
            'go to home page' : home,
            'show my history' : history,
            'show my profile' : profile,
            'show my balance' : balance,
            'go to survey' : survey,
            'go to payment' : payment,
            'go to feedback' : feedback,
            'go to contact us' : contactUs,
            'go to login' : login
        }

        function classrooms() {
            console.log("classrooms");
            window.location.href = "http://localhost:8087/lecturer";
        }
        function mybookings(){
            console.log("mybookings");
            window.location.href = "http://localhost:8087/lecturerbookingsperday";
        }
        function home(){
            console.log("home");
            window.location.href = "http://localhost:8087/lecturerwelcomepage";
        }
        function history(){
            console.log("history");
            window.location.href = "http://localhost:8087/mybookings";
        }
        function createNewInvoice(){
            console.log("createNewInvoice");
            window.location.href = "http://localhost:8080/VoiceBankingApp/newinvoice.jsp";
        }
        function balance(){
            console.log("balance");
            window.location.href = "http://localhost:8080/VoiceBankingApp/viewbalance.jsp";
        }
        function profile(){
            console.log("profile");
            window.location.href = "http://localhost:8080/VoiceBankingApp/profile.jsp";
        }
        function payment(){
            console.log("payment");
            window.location.href = "http://localhost:8080/VoiceBankingApp/transfer.jsp";
        }
        function survey(){
            console.log("survey");
            window.location.href = "http://localhost:8080/VoiceBankingApp/reviewRating.html";
        }
        function feedback(){
            console.log("survey");
            window.location.href = "http://localhost:8080/VoiceBankingApp/reviewRating.html";
        }
        function contactUs(){
            console.log("Contact");
            window.location.href = "http://localhost:8080/VoiceBankingApp/contact.html";
        }

// Add Commands
        annyang.addCommands(commands);

// Start listening
        annyang.start();
    }
</script>



</body>

</html>
